* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 60rem;
  padding: 0 1rem;
  margin: 0 auto;
  background: #1c1c27;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav .active {
  color: #FFB43A;
  font-weight: bold;
  font-size: 1rem;
}

.complete {
  color: rgb(69, 0, 134);
  text-decoration: line-through
}