* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav .active {
  color: #FFB43A;
  font-weight: bold;
  font-size: 1rem;
}